button {
    background-color: $secondary-color;
    border-radius: 0%;
    border: none;
    border-radius: 10px;
    color: $text-color-dark;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    
    
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        background-color: $primary-color;
        color: white;
    }
    &:active {
        background-color: $primary-color;
        color: white;
    }

}
button.toDoButton {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
}